<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="springApplicationName">${sys:spring.application.name}</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<JsonLayout complete="true" compact="true" eventEol="true"
				includeStacktrace="true"
				objectMessageAsJsonObject="true" properties="true"
				propertiesAsList="true">
				<KeyValuePair key="application"
					value="$${spring:spring.application.name}" />
				<KeyValuePair key="kubernetes.containerId"
					value="${k8s:containerId:-}" />
				<KeyValuePair key="kubernetes.containerName"
					value="${k8s:containerName:-}" />
				<KeyValuePair key="kubernetes.podID" value="${k8s:podId:-}" />
				<KeyValuePair key="kubernetes.podName" value="${k8s:podName:-}" />

				<KeyValuePair key="timestamp"
					value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />

			</JsonLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>

	</Loggers>
</Configuration>
